@{
    ViewBag.Title = "Home";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="jumbotron text-center">
                <h1 class="display-4">Welcome to the Library System</h1>
                <p class="lead">Manage your books and categories with ease.</p>
                <hr class="my-4">
                <p>This simple library system allows you to:</p>
                <ul class="list-unstyled">
                    <li><i class="icofont-book-alt"></i> View and manage <a href="@Url.Action("Index", "Books")">books</a> with titles, authors, categories, and more.</li>
                    <li><i class="icofont-list"></i> Browse and handle <a href="@Url.Action("Index", "Category")">categories</a> with names and statuses.</li>
                </ul>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Books")" role="button">Get Started</a>
                </p>
            </div>
        </div>
    </div>
</div>
